<h1>Add Emplyoees Details</h1>
<div *ngIf="isListHide == false">
<nz-table #basicTable [nzData]="listData">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Favourite Movie</th>
        <th>Likes Popcorn</th>
        <th>Gender</th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listData">
        <td>{{data.first_name}}</td>
        <td>{{data.last_name}}</td>
        <td>{{data.favourite_movie}}</td>
        <td *ngIf='data.likes_popcorn'>Yes</td>
        <td *ngIf='!data.likes_popcorn'>No</td>
        <td>{{data.gender}}</td>
      <td>
        <a>{{data.name}}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="onDelete(data.id)">Delete</a>
      </td>
    </tr>
    </tbody>

  </nz-table>
  <br>
  <button nz-button nzType="primary" (click)="addEmployee()">Add Employee</button>
</div>

<!-- <form nz-form *ngIf="isListHide == true"> 
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="firstName">First Name</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="firstName" type="firstName" id="firstName">
    </nz-form-control>
  </nz-form-item >
<br>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="lastName">Last Name</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="lastName" type="lastName" id="lastName">
    </nz-form-control>
  </nz-form-item >
  <br>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="favMovie">Favourite Movie</nz-form-label>
    <nz-form-control [nzSpan]="14">
        <input nz-input name="favMovie" type="favMovie" id="favMovie">
    </nz-form-control>
  </nz-form-item >
  <br>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="likes">Likes Popcorn</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="likes" type="likes" id="likes">
    </nz-form-control>
  </nz-form-item >
  <br>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="Gender">Gender</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="Gender" type="Gender" id="Gender">
    </nz-form-control>
  </nz-form-item >
  <button (Submit)="addEmpDetails()">Submit Details</button>

</form> -->
<form *ngIf="isListHide == true" nz-form [nzLayout]="'inline'" nz-form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="form-display">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your First Name!">
          <nz-input-group>
            <input formControlName="firstName" nz-input placeholder="First Name" />
          </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Last Name!">
        <nz-input-group >
          <input formControlName="lastName" nz-input placeholder="Last Name" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Answer!">
        <nz-input-group >
          <input formControlName="favMovie" nz-input placeholder="Favourite Movie" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Answer!">
        <!-- <nz-input-group>
          <input formControlName="likes" nz-input placeholder="Likes Popcorn" />
        </nz-input-group> -->
        <nz-radio-group formControlName="likes">
          <label nz-radio nzValue=true>Yes</label>
          <label nz-radio nzValue=false>No</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Gender!">
        <!-- <nz-input-group>
          <input formControlName="gender" nz-input placeholder="Gender" />
        </nz-input-group> -->
        <nz-select formControlName="gender" class="form-select">
          <nz-option nzValue="Male" nzLabel="Male"></nz-option>
          <nz-option nzValue="Female" nzLabel="Female"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" name="Submit" type="submit" id="submit" >Submit</button>
      </nz-form-control>
    </nz-form-item>
</form>


  

