
<div *ngIf="isListHide == false">
  <h1>Employees Details</h1>
  <nz-table #filterTable  [nzData]="listData" nzPaginationType="small" nzSize='small' nzPageSize="10" [nzPageSizeOptions]="[5, 10]"
  [nzTemplateMode]="false" nzShowSizeChanger nzTableLayout="fixed">
      <thead>
        <tr>
          <th 
          *ngFor="let column of listOfColumns"
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
          >
            {{ column.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filterTable.data" (click)="onRowSelect($event, data.id)">
          <td>{{data.first_name}}</td>
          <td>{{data.last_name}}</td>
          <td>{{data.favourite_movie}}</td>
          <td *ngIf='data.likes_popcorn'>Yes</td>
          <td *ngIf='!data.likes_popcorn'>No</td>
          <td>{{data.gender}}</td>
          <td>
            <a id="action" (click)="onUpdate(data.id)">Edit</a>
            <nz-divider nzType="vertical"> | </nz-divider>
            <a id="action" (click)="onDelete(data.id)">Delete</a>
          </td>
      </tr>
      </tbody>
    </nz-table>
    <div class="add-employee-button">
      <button nz-button nzType="primary" (click)="addEmployee()">Add Employee</button>
    </div>
</div>
<div *ngIf="isListHide == true">
  <h1 *ngIf='validateForm.controls.id.value === null' class="heading">Add Employee Details</h1>
  <h1 *ngIf='validateForm.controls.id.value !== null' class="heading">Edit Employee Details</h1>
  <form nz-form [nzLayout]="'inline'" 
  [formGroup]="validateForm" (ngSubmit)="onSubmit()" class="form-display .ant-form">
    <nz-form-item class="ant-form-item ant-row ant-colant-form-item-has-error">
      <nz-form-label [nzSm]="25" [nzXs]="24" nzFor="firstName" nzRequired nzTooltipTitle="Enter you First Name"
      class="ant-form-item-label">First Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your First name!">
        <input nz-input id="firstName" formControlName="firstName" 
        class="ant-input ng-untouched ng-invalid ng-dirty"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="ant-form-item ant-row ant-colant-form-item-has-error">
      <nz-form-label [nzSm]="25" [nzXs]="24" nzFor="lastName" nzRequired nzTooltipTitle="Enter you Last Name"
      class="ant-form-item-label">Last Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Last name!">
        <input nz-input id="lastName" formControlName="lastName" 
        class="ant-input ng-untouched ng-invalid ng-dirty"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="ant-form-item ant-row ant-colant-form-item-has-error">
      <nz-form-label [nzSm]="25" [nzXs]="24" nzFor="favMovie" nzRequired nzTooltipTitle="Enter your favourite movie"
      class="ant-form-item-label">Favourite Movie</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Favourite movie!">
        <input nz-input id="favMovie" formControlName="favMovie" 
        class="ant-input ng-untouched ng-invalid ng-dirty"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="ant-form-item ant-row ant-colant-form-item-has-error">
      <nz-form-label [nzSm]="25" [nzXs]="24" nzFor="favMovie" nzRequired nzTooltipTitle="Enter your choice"
      class="ant-form-item-label">Likes Popcorn</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select you choice">
        <nz-radio-group formControlName="likes">
          <label nz-radio nzValue=true>Yes</label>
          <label nz-radio nzValue=false>No</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="ant-form-item ant-row ant-col">
      <nz-form-label [nzSm]="25" [nzXs]="24" nzFor="gender" nzRequired nzTooltipTitle="Select how you identify youself"
      class="ant-form-item-label">Gender</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select one option!">
        <nz-select id="gender" formControlName="gender" class="ant-select">
          <nz-option nzValue="Male" nzLabel="Male"></nz-option>
          <nz-option nzValue="Female" nzLabel="Female"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="margin-left-buttons">
      <nz-form-control>
        <button nz-button nzType="primary" name="Submit" type="submit" id="submit" >Submit</button>
        <button nz-button nzType="primary" name="Cancel" id="cancel" (click)="backToEmployee()" class="margin-left">Cancel</button>
      </nz-form-control>
    </nz-form-item> 
  </form>
</div>




  

