<h1>Users</h1>
<nz-table #dynamicTable [nzData]="listData" nzPaginationType="small" nzSize='small' nzPageSize="10" [nzPageSizeOptions]="[5, 10]"
[nzTemplateMode]="false" nzShowSizeChanger nzTableLayout="fixed">
    <thead>
      <tr>
        <th 
          *ngFor="let column of listOfColumns"
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
          >
            {{ column.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dynamicTable.data">
        <td>{{data.first_name}}</td>
        <td>{{data.last_name}}</td>
        <td>{{data.favourite_movie}}</td>
        <td *ngIf='data.likes_popcorn'>Yes</td>
        <td *ngIf='!data.likes_popcorn'>No</td>
        <td>{{data.gender}}</td>
      </tr>
    </tbody>
</nz-table>
